@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Gothic+A1&display=swap");

body,
#root {
  margin: 0;
  background-color: #3d3d3d;
  display: flex;
  font-family: "Gothic A1", serif;
  font-weight: 400;
  color: #eeeeee;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0 0 5px 0;
}

.default-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  width: 100%;
  height: 100%;
}

.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 10px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;
}

.button-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.grey-line {
  width: 105%;
  border: 0.5px solid rgba(250, 250, 250, 0.823);
  margin: 10px 0;
}

/* 헬퍼 메시지 */
.helper-text {
  min-height: 15px;
  font-size: 0.7rem;
  color: #e5781e;
  align-self: flex-start;
  visibility: hidden; /* 기본적으로 숨김 */
  opacity: 0; /* 기본적으로 보이지 않음 */
  padding-top: 4px;
  padding-bottom: 4px;
}

.helper-text.show {
  visibility: visible;
  opacity: 1;
}

.author-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.post-box-padding {
  padding: 20px 25px;
}

.profile-circle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #f5ecd5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.profile-circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-size: cover;
  background-position: center;
}

.author-name {
  font-size: 15px;
  font-weight: 700;
}

.edit-buttons {
  display: flex;
  justify-content: flex-end;
}

label {
  font-size: 0.85rem;
  padding: 0 0 5px 5px;
  align-self: flex-start;
}

/* 프로필 이미지 업로드 */
.profile-image-wrapper {
  width: 149px;
  height: 149px;
  border-radius: 50%;
  overflow: hidden;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  background-color: #f5ecd5;
  cursor: pointer;
  margin: 5px 0 20px 0;
}

.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-placeholder {
  font-size: 16px;
  color: #aaa;
}

/* 토스트 메시지 */
.toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #292c33;
  color: white;
  padding: 12px 20px;
  border-radius: 30px;
  font-size: 16px;
  z-index: 1000;
  animation: fadeOut 3s forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.g-input {
  position: relative;
  margin-bottom: 5px;
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
}

.g-input label {
  background: #292c33;
  padding: 3px;
  font-size: 0.8rem;
  transition:
    transform 150ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  transform-origin: bottom left;
  color: #ddd;
  font-family: arial;
  position: absolute;
  top: 7px;
  left: 7px;
  z-index: 1;
  cursor: text;
}

.g-input input {
  border: 1px solid #3d3d3d;
  background-color: #292c33;
  color: #eeeeee;
  display: block;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
  box-sizing: border-box;
}

.g-input.fill {
  display: block;
  width: 100%;
}

.g-input input:focus {
  outline: 0;
  border-color: #578e7e;
}

.g-input input:focus + label,
.g-input input:not(:placeholder-shown) + label {
  transform: translateX(-3px) translateY(-15px);
  font-size: 10px;
  color: #578e7e;
}

/* input {
  box-sizing: border-box;
  padding: 8px;
  width: 100%;
  border: none;
  background-color: #eeeeee;
  color: #eeeeee;
  font-size: 14px;
  border-radius: 4px;
  margin: 4px 0 4px 0;
} */

.back-button {
  position: fixed;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-image: url("/public/assets/images/back_nav.png");
  background-size: cover; /* 이미지를 버튼 크기에 맞게 조정 */
  background-repeat: no-repeat; /* 이미지를 반복하지 않음 */
  bottom: 2rem;
  left: 2rem;
  background-color: #fffaec;
  color: #0b1215;
  border: none;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* 다른 요소 위에 표시되도록 z-index 설정 */
}

.back-button:hover {
  filter: brightness(0.8); /* 색을 탁하게 하는 효과 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 박스 그림자 추가 */
}
