.modal {
  position: fixed; /* 화면에 고정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4); /* 배경색과 투명도 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.overlay {
  position: fixed; /* 화면에 고정 */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 배경색과 투명도 */
  z-index: 999;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 400px;
  height: 240px;
  text-align: center;
}

.modal-content > #title {
  font-size: 24px;
  font-weight: 700;
  margin: 30px 0;
}

.modal-content > p {
  font-size: 20px;
  margin: 15px 0;
}

.modal-actions > button {
  margin: 10px 8px;
  padding: 10px 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  width: 127px;
}

#confirm-action {
  background-color: #c4a5fa;
  color: #242424;
}

#cancel-action {
  background-color: #242424;
  color: #ffffff;
}
