.edit-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 40%;
  padding-top: 30px;
}

label,
p {
  margin-bottom: 8px;
}

label[for="title"],
[for="content"] {
  font-size: 16px;
  align-items: flex-start;
  margin-bottom: 0;
  padding-top: 10px;
}

input,
textarea {
  background-color: transparent; /* 배경을 투명하게 설정 */
  border: none; /* 테두리 없애기 */
  align-self: center;
  width: 100%;
  margin: 0 auto; /* 중앙 정렬 */
  resize: none;
  padding: 0;
}

input {
  font-size: 16px;
  font-weight: 700;
}

textarea {
  font-size: 15px;
  font-weight: 400;
  height: 230px;
  line-height: 1.5;
}

#post-image {
  font-size: 14px;
  font-weight: 400;
}

.button-large {
  width: 60%;
  border-radius: 4px;
  background: #7f6aee;
  align-self: center;
  margin: 20px 0;
}

.padding-topbottom {
  padding: 10px 0;
}

.image-select {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  align-items: flex-start;
}

.selected-image-preview {
  max-height: 100px; /* 이미지의 최대 높이를 100px로 설정 */
  width: auto; /* 가로 크기는 자동으로 조정 */
  display: block;
  margin: 10px 10px 0 10px;
}
